[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target zookeeper.service

[Service]
Type=simple
User=kafka
Group=kafka
# Environment=JAVA_HOME=\$JAVA_HOME JMX_PORT=9997
Environment=JMX_PORT=9997
ExecStart=/bin/bash -c "{{ kafka_application_path }}/bin/kafka-server-start.sh {{ kafka_application_path }}/config/server.properties"
ExecStop=/bin/bash -c "{{ kafka_application_path }}/bin/kafka-server-stop.sh"

[Install]
WantedBy=multi-user.target
