---
- name: Set Package Manager with Auth
  package_facts:
    manager: "auto"


- name: Uninstall Java RPM Packages for RHEL/CentOS/Rocky Linux Depends On Version
  yum:
    name: "{{ item }}"
    state: absent
  with_items: "{{ rh_java_pkgs }}"
  when:
    - _jdk.oss.install == true


- name: Uninstall Oracle Java RPM package
  package:
    name: jdk-{{ _jdk.oracle.major_version }}
    state: absent
  async: 360
  poll: 5
  when:
    - hostvars[inventory_hostname].ansible_distribution_major_version|int <= 8
    - _jdk.oracle.install == true


- name: "Delete a Line to Export $JAVA_HOME"
  lineinfile:
    dest: /etc/profile.d/java_home.sh
    regexp: "^export JAVA_HOME*"
    state: absent


#- name: Correct java version selected
#  alternatives:
#    link: /usr/bin/java
#    name: java
#    path: /usr/lib/jvm/java-1.8.0/bin/java
#    priority: -10
#    # path: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.352.b08-2.el9_0.x86_64/bin/java
#    # path: /usr/lib/jvm/java-11-openjdk-11.0.ea.28-7.el7.x86_64/bin/java
#    # path: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.181-7.b13.el7.x86_64/bin/java

