[Unit]
Description=Run Kafka UI
After=kafka.service syslog.target network.target

[Service]
Type=simple
User=root
Group=root
# Environment=""
ExecStart=/bin/bash -c "java -Dspring.config.additional-location=/root/application-kafka-ui.yml -jar /root/kafka-ui-api-v{{ kafka_ui.api_version }}.jar > /var/log/kafka-ui.log 2>&1"
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=process
Restart=no
TimeoutSec=60

[Install]
WantedBy=multi-user.target
